<style>  
    .center {
      font-family:"Brush Script MT", Brush, Cursive;
    }
    </style>
<style>
    body{
        background-color: dimgray;
    }
</style>

<style>
    .center{
        color:brown;
        text-align: center;
    }
</style>